<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body
    style="margin: 0; padding: 0; font-family: 'Satoshi', Arial, sans-serif"
  >
    <div
      style="
        max-width: 600px;
        margin: 0 auto;
        background-color: #ffffff;
        color: #555555;
        overflow: hidden;
        line-height: 24px;
        font-size: 15px;
        font-weight: 400;
      "
    >
      <div style="text-align: left; padding: 20px">
        <input
          type="image"
          src="https://propatize.s3.us-east-1.amazonaws.com/resources/propatize-logo.png"
          width="100"
          alt="Propatize"
          style="display: block; outline: none; cursor: default"
        />
      </div>
      <div style="padding: 20px; padding-top: 20px; padding-bottom: 60px">
        <p style="margin-top: 20px; margin-bottom: 10px">Hi ((name)),</p>
        <p style="margin-top: 12px; margin-bottom: 10px">
          Please, use the code below to activate your account.
        </p>
        <div
          style="
            display: flex;
            justify-content: start;
            gap: 20px;
            margin-top: 20px;
            margin-bottom: 20px;
          "
        >
          <div
            style="
              font-size: 25px;
              font-weight: 600;
              text-align: center;
              width: 50px;
              height: 50px;
              line-height: 50px;
              border: 1px solid #ccc;
              border-radius: 5px;
              margin-right: 5px;
            "
          >
            ((c))
          </div>
          <div
            style="
              font-size: 25px;
              font-weight: 600;
              text-align: center;
              width: 50px;
              height: 50px;
              line-height: 50px;
              border: 1px solid #ccc;
              border-radius: 5px;
              margin-right: 5px;
            "
          >
            ((o))
          </div>
          <div
            style="
              font-size: 25px;
              font-weight: 600;
              text-align: center;
              width: 50px;
              height: 50px;
              line-height: 50px;
              border: 1px solid #ccc;
              border-radius: 5px;
              margin-right: 5px;
            "
          >
            ((d))
          </div>
          <div
            style="
              font-size: 25px;
              font-weight: 600;
              text-align: center;
              width: 50px;
              height: 50px;
              line-height: 50px;
              border: 1px solid #ccc;
              border-radius: 5px;
              margin-right: 5px;
            "
          >
            ((e))
          </div>
        </div>
        <p style="margin-top: 20px">
          Note, this code will only be valid for the next 10 minutes. If the
          code does not work, you can retry the process.
        </p>
        <div style="margin-top: 70px">
          <p style="margin: 0">Thanks,</p>
          <p style="margin: 0">The Propatize Team</p>
        </div>
      </div>
      <div
        style="
          background-color: #4a3aff;
          color: #ffffff;
          text-align: center;
          padding: 27px;
        "
      >
        <div style="margin-top: 10px">
          <a href="https://www.linkedin.com/company/propatizeng"
            ><img
              src="https://propatize.s3.us-east-1.amazonaws.com/resources/LinkedIn.png"
              alt="LinkedIn"
              style="width: 24px; height: 24px; margin: 0 3px"
          /></a>
          <a href="https://propatize.com"
            ><img
              src="https://propatize.s3.us-east-1.amazonaws.com/resources/Twitter.png"
              alt="Twitter"
              style="width: 24px; height: 24px; margin: 0 3px"
          /></a>
          <a href="https://www.instagram.com/propatize"
            ><img
              src="https://propatize.s3.us-east-1.amazonaws.com/resources/Instagram.png"
              alt="Instagram"
              style="width: 24px; height: 24px; margin: 0 3px"
          /></a>
          <a href="https://propatize.com"
            ><img
              src="https://propatize.s3.us-east-1.amazonaws.com/resources/Facebook.png"
              alt="Facebook"
              style="width: 24px; height: 24px; margin: 0 3px"
          /></a>
        </div>
        <p
          style="
            font-size: 14px;
            font-weight: 500;
            margin: 32px 0;
            color: #ffffff;
          "
        >
          <a
            href="https://propatize.com/#contact"
            style="color: #ffffff; text-decoration: none; margin: 0 4px"
            >Contact Support</a
          >
          |
          <a
            href="https://propatize.com/privacy.html"
            style="color: #ffffff; text-decoration: none; margin: 0 4px"
            >Privacy</a
          >
          |
          <a
            href="https://propatize.com/privacy.html"
            style="color: #ffffff; text-decoration: none; margin: 0 4px"
            >Terms</a
          >
        </p>
        <p style="font-size: 13px">
          &copy; 2024, Propatize. All rights reserved.
        </p>
      </div>
    </div>
  </body>
</html>
