<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      @media (max-width: 768px) {
        .main-container {
          background-color: #ffffff !important;
        }
        .content-box {
          padding: 0px !important;
          border-radius: 0 !important;
        }
      }
    </style>
  </head>
  <body
    style="margin: 0; padding: 0; font-family: 'Satoshi', Arial, sans-serif"
  >
    <div
      class="main-container"
      style="
        max-width: 600px;
        margin: 0 auto;
        background-color: #fafafb;
        color: #555555;
        overflow: hidden;
        line-height: 24px;
        font-size: 15px;
        font-weight: 400;
      "
    >
      <!-- Header -->
      <div
        class="header"
        style="text-align: left; padding: 40px; padding-bottom: 10px"
      >
        <input
          type="image"
          src="https://propatize.s3.us-east-1.amazonaws.com/resources/propatize-logo.png"
          width="100"
          alt="Propatize"
          style="display: block; outline: none; cursor: default"
        />
      </div>
      <!-- Content -->
      <div
        class="content"
        style="padding: 40px; padding-top: 20px; padding-bottom: 60px"
      >
        <div
          class="content-box"
          style="background-color: #ffffff; padding: 35px; border-radius: 10px"
        >
          <p style="margin-top: 20px; margin-bottom: 10px">Hi ((name)),</p>
          <p style="margin-top: 12px; margin-bottom: 10px; margin-top: 30px">
            We're excited to welcome you to Propatize and even more excited
            about what we've got planned. You're on your way to a more
            streamlined, stress-free property management experience.
          </p>

          <p style="margin-top: 30px">
            We're dedicated to making your life easier and helping you connect
            with your community.
          </p>
          <div style="margin-top: 30px">
            <p style="margin: 0">Thanks,</p>
            <p style="margin: 0">The Propatize Team</p>
          </div>
          <a href="https://propatize.com" target="_blank">
            <button
              style="
                background-color: #5c4dff;
                color: #ffffff;
                border: none;
                border-radius: 6px;
                padding: 10px 20px;
                font-size: 14px;
                font-weight: 600;
                cursor: pointer;
                margin-top: 45px;
                margin-bottom: 10px;
              "
            >
              Let’s get started
            </button>
          </a>
        </div>
      </div>
      <!-- Footer -->
      <div
        class="footer"
        style="
          background-color: #4a3aff;
          color: #ffffff;
          text-align: center;
          padding: 27px;
        "
      >
        <div style="margin-top: 10px">
          <a href="https://www.linkedin.com/company/propatizeng"
            ><img
              src="https://propatize.s3.us-east-1.amazonaws.com/resources/LinkedIn.png"
              alt="LinkedIn"
              style="width: 24px; height: 24px; margin: 0 3px"
          /></a>
          <a href="https://propatize.com"
            ><img
              src="https://propatize.s3.us-east-1.amazonaws.com/resources/Twitter.png"
              alt="Twitter"
              style="width: 24px; height: 24px; margin: 0 3px"
          /></a>
          <a href="https://www.instagram.com/propatize"
            ><img
              src="https://propatize.s3.us-east-1.amazonaws.com/resources/Instagram.png"
              alt="Instagram"
              style="width: 24px; height: 24px; margin: 0 3px"
          /></a>
          <a href="https://propatize.com"
            ><img
              src="https://propatize.s3.us-east-1.amazonaws.com/resources/Facebook.png"
              alt="Facebook"
              style="width: 24px; height: 24px; margin: 0 3px"
          /></a>
        </div>
        <p
          style="
            font-size: 14px;
            font-weight: 500;
            margin: 32px 0;
            color: #ffffff;
          "
        >
          <a
            href="https://propatize.com/#contact"
            style="color: #ffffff; text-decoration: none; margin: 0 4px"
            >Contact Support</a
          >
          |
          <a
            href="https://propatize.com/privacy.html"
            style="color: #ffffff; text-decoration: none; margin: 0 4px"
            >Privacy</a
          >
          |
          <a
            href="https://propatize.com/privacy.html"
            style="color: #ffffff; text-decoration: none; margin: 0 4px"
            >Terms</a
          >
        </p>
        <p style="font-size: 13px">
          &copy; 2024, Propatize. All rights reserved.
        </p>
      </div>
    </div>
  </body>
</html>
